@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 0 0% 96%; /* #F4F4F4 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 0 0% 20%; /* #333333 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 0 0% 20%; /* #333333 */
    --primary: 137 87% 23%; /* #0E7321 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 150 100% 13%; /* #00420C */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 0 0% 96%; /* #F4F4F4 */
    --muted-foreground: 0 0% 68%; /* #ADADAD */
    --accent: 150 100% 13%; /* #00420C */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 0 100% 68%; /* #FF5656 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 0 0% 90%; /* Cinza claro para bordas */
    --input: 0 0% 90%; /* Cinza claro para inputs */
    --ring: 137 87% 23%; /* #0E7321 */
    --radius: 0.5rem;
    
    --chart-1: 0 100% 68%; /* #FF5656 */
    --chart-2: 137 87% 23%; /* #0E7321 */
    --chart-3: 150 100% 13%; /* #00420C */
    --chart-4: 0 0% 20%; /* #333333 */
    --chart-5: 0 0% 68%; /* #ADADAD */
  }

  .dark {
    --background: 0 0% 20%; /* #333333 */
    --foreground: 0 0% 96%; /* #F4F4F4 */
    --card: 0 0% 15%; /* Um tom mais escuro para o modo dark */
    --card-foreground: 0 0% 96%; /* #F4F4F4 */
    --popover: 0 0% 15%; /* Um tom mais escuro para o popover */
    --popover-foreground: 0 0% 96%; /* #F4F4F4 */
    --primary: 137 87% 23%; /* #0E7321 */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 150 100% 13%; /* #00420C */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 0 0% 15%; /* Um tom mais escuro para o muted */
    --muted-foreground: 0 0% 68%; /* #ADADAD */
    --accent: 150 100% 13%; /* #00420C */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 0 100% 68%; /* #FF5656 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 0 0% 30%; /* Um tom de cinza escuro para bordas no dark mode */
    --input: 0 0% 30%; /* Um tom de cinza escuro para inputs no dark mode */
    --ring: 137 87% 23%; /* #0E7321 */
    
    --chart-1: 0 100% 68%; /* #FF5656 */
    --chart-2: 137 87% 23%; /* #0E7321 */
    --chart-3: 150 100% 13%; /* #00420C */
    --chart-4: 0 0% 96%; /* #F4F4F4 */
    --chart-5: 0 0% 68%; /* #ADADAD */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
